.profile {
  margin: 0 auto 50px;
  padding: 0;
  max-width: 880px;
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-areas: "profile__avatar profile__info .. profile__button_action_add";
}

@media screen and (max-width: 900px) {
  .profile {
    margin: 0 auto 36px;
    grid-template-areas:
      "profile__avatar"
      "profile__info"
      "profile__button_action_add";
    justify-content: center;
  }
}
